<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="fr.dut.ptut2021">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".adapters.ApplicationPtut"
        android:allowBackup="true"
        android:icon="@mipmap/icon_edukid"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_edukid_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PTUT2021">
        <activity
            android:name=".activities.LoadingPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".game.DrawOnIt"
            android:exported="false" />
        <activity
            android:name=".game.PlayWithSound"
            android:exported="false" />
        <activity
            android:name=".activities.ResultGamePage"
            android:exported="false" />
        <activity
            android:name=".activities.UserResume"
            android:exported="false" />
        <activity
            android:name=".activities.UserEdit"
            android:exported="false" />
        <activity
            android:name=".activities.StatisticPage"
            android:exported="false" />
        <activity
            android:name=".game.WordWithHole"
            android:exported="false" />
        <activity
            android:name=".game.Memory"
            android:exported="false" />
        <activity
            android:name=".activities.UserMenu"
            android:exported="false" />
        <activity
            android:name=".activities.ThemeMenu"
            android:exported="false" />
        <activity
            android:name=".activities.GameMenu"
            android:exported="false" />
    </application>

</manifest>